

<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
<%= image_tag 'car1.jpg' %>
      <div class="carousel-caption">
        <p>Η αίθουσα ανανμονής! </p>
      </div>
    </div>
    <div class="item">
<%= image_tag 'car2.jpg' %>
      <div class="carousel-caption">
        <p>Η δανειστική βιβλιοθήκη μας!</p>
      </div>
    </div>
    <div class="item">
<%= image_tag 'car3.jpg' %>
      <div class="carousel-caption">
        <p>Ένα από τα διαδακτήριά μας</p>
      </div>
    </div>
    
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->




<h1>Home#index</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nisi nisi, auctor ut varius sit amet, semper non est. Aenean consectetur tincidunt nunc et cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec risus arcu, sed hendrerit risus. Nulla vitae semper tortor. Cras a neque ut lectus suscipit euismod. Donec non velit eget mi gravida dignissim ut et metus. Vestibulum posuere aliquet ante at egestas. Nunc tincidunt dignissim diam sed pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer sed faucibus dui. Nunc sit amet sapien sapien, sit amet feugiat nibh. Mauris at hendrerit nisi. Suspendisse vitae vestibulum neque. Cras pulvinar enim sit amet nisl aliquet imperdiet.

Sed malesuada libero et sem mollis imperdiet quis eget leo. Aenean at massa non arcu accumsan dapibus. Curabitur quam massa, accumsan non dignissim non, fermentum eu quam. Mauris cursus nibh a justo convallis lacinia. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris id ligula vitae eros malesuada aliquet sed vel purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et tellus rutrum velit sodales scelerisque ut eget purus. Nulla consequat lacus eget erat ornare auctor. Vestibulum.</p>
